/**
 * @name Max's fancy Discord theme
 * @author Max#4029
 * @authorId 524813260525142047
 * @authorLink https://discordapp.com/users/524813260525142047
 * @description This makes Discord look bettor or something I guess
 * @version 2022.12.20
 * @source https://github.com/Maxwell-Fisher/Discord-Theme
 * @website https://maxwellcrafter.com
 * @invite rGxpStCKFM
 */

/* Import Ubuntu font */
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

/* Make text look good */
:root {
    --font-primary: ubuntu;
    --brand-500: #810081;
    --status-danger: #E020E0;
    --interactive-active: #E020E0;
    --background-mentioned: #C070C0;
    --background-primary: #10161C;
    --background-secondary: #101A24;
    --background-tertiary: #10171E;
    --background-secondary-alt: #153555;
    --chat-background-alt: #052545;
    --header-primary: #00E0E0;
    --header-secondary: #00A0A0;
    --text-link: var(--header-primary);
    --interactive-normal: var(--header-secondary);
    --channels-default: var(--header-primary);
    --text-normal: var(--header-secondary);
}

/* Make mentions in messages look good */
.mentioned-Tre-dv {
    position: relative;
    background-color: var(--background-mentioned);
    background-image: linear-gradient(to right, var(--background-primary) , var(--interactive-active));
    border-top-left-radius: 0.1vw;
    border-bottom-left-radius: 0.1vw;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    box-shadow: 0 0 0.2vw 0.2vw var(--background-primary) inset;
}

/* Hide Nitro gift button */
.container-3Csys8 {
    display: none;
}

/* Hide channel name in message box */
.placeholder-1rCBhr {
    display: none;
}

/* Make text rainbow */
.editor-H2NA06, .interactive-1vLZ_I.interactive-iyXY_x.linkButton-2NshQj, .markup-eYLPri.messageContent-2t3eCI {
    color: var(--text-normal);
    /* background: -webkit-linear-gradient(top left, red, orange, yellow, green, blue, purple); */
    background: -webkit-linear-gradient(top left, aqua, cyan, lime, yellow, aqua, cyan, lime, yellow, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Ignore rainbow text in code blocks and user status, and give them a different font */
.inline, .hljs, .inlineCode-ERyvy_, .activityText-ev7Z1T, .mention, .activityText-1rR-8O, .subtext-14b69p {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--text-normal);
    font-family: courier;
}

/* Makes profile banners a bit round */
.banner-2boKnS.popoutBanner-16rVDY, .bannerSVGWrapper-qc0szY, .banner-2boKnS {
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}

/* Make message input box round */
.messageInputContainer-2rGDH8, .scrollableContainer-15eg7h {
    border-radius: 1vw;
}

/* Hide redundant gif/sticker buttons */
.button-2fCJ0o {
    display: none;
}

/* Fix file upload button alignment */
.attachButton-_ACFSu {
    padding: 0.5vw 0.5vw;
    position: sticky;
}

/* Makes user settings box rounded */
.panels-3wFtMD {
    /* border-top-left-radius: 1vw; */
    border-top-right-radius: 1vw;
}

/* Makes the text input box look nice */
.scrollableContainer-15eg7h {
    background-color: var(--background-secondary-alt);
    /*
    background-color: var(--background-primary);
    background-image: linear-gradient(30deg, var(--brand-500) 12%, transparent 12.5%, transparent 87%, var(--brand-500) 87.5%, var(--brand-500)), linear-gradient(150deg, var(--brand-500) 12%, transparent 12.5%, transparent 87%, var(--brand-500) 87.5%, var(--brand-500)), linear-gradient(30deg, var(--brand-500) 12%, transparent 12.5%, transparent 87%, var(--brand-500) 87.5%, var(--brand-500)), linear-gradient(150deg, var(--brand-500) 12%, transparent 12.5%, transparent 87%, var(--brand-500) 87.5%, var(--brand-500)), linear-gradient(60deg, #81008177 25%, transparent 25.5%, transparent 75%, #81008177 75%, #81008177), linear-gradient(60deg, #81008177 25%, transparent 25.5%, transparent 75%, #81008177 75%, #81008177);
    background-size: 32px 56px;
    background-position: 0px 0px, 0px 0px, 16px 28px, 16px 28px, 0px 0px, 16px 28px;
    */
}
.editor-H2NA06 {
    caret-color: var(--interactive-active);
    text-align: center;
    word-break: break-word;
    white-space: break-spaces!important;
    background-color: var(--background-secondary-alt);
}

/* Center some things that look better that way */
.members-3WRCEx, .activity-1-H7Zd, .headerText-1qIDDT .info-3pQQBb, .socialLinks-3ywLUf, .item-3XjbnG, .themed-2-lozF, .bd-sidebar-header, .eyebrow-Ejf06y, .info-3pQQBb, .privateChannelsHeaderContainer-1UWASm, .upload-vLbqu-{
    text-align: center;
    align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Remove Discord window title */
.wordmarkWindows-2dq6rw {
    display: none;
}

/*
.closedFolderIconWrapper-3tRb2d {
    background-color: var(--background-secondary-alt);
}
*/

.chatContent-3KubbW {
background-color: var(--background-primary);
opacity: 1;
background-image: linear-gradient(30deg, var(--chat-background-alt) 12%, transparent 12.5%, transparent 87%, var(--chat-background-alt) 87.5%, var(--chat-background-alt)), linear-gradient(150deg, var(--chat-background-alt) 12%, transparent 12.5%, transparent 87%, var(--chat-background-alt) 87.5%, var(--chat-background-alt)), linear-gradient(30deg, var(--chat-background-alt) 12%, transparent 12.5%, transparent 87%, var(--chat-background-alt) 87.5%, var(--chat-background-alt)), linear-gradient(150deg, var(--chat-background-alt) 12%, transparent 12.5%, transparent 87%, var(--chat-background-alt) 87.5%, var(--chat-background-alt)), linear-gradient(60deg, #05254577 25%, transparent 25.5%, transparent 75%, #05254577 75%, #05254577), linear-gradient(60deg, #05254577 25%, transparent 25.5%, transparent 75%, #05254577 75%, #05254577);
background-size: 32px 56px;
background-position: 0px 0px, 0px 0px, 16px 28px, 16px 28px, 0px 0px, 16px 28px;
}