/**
 * @name Argon
 * @author Max#4029
 * @authorId 524813260525142047
 * @authorLink https://discordapp.com/users/524813260525142047
 * @description It purple
 * @version 2022.12.21
 * @source https://github.com/Maxwell-Fisher/Discord-Theme
 * @website https://maxwellcrafter.com
 * @invite rGxpStCKFM
 */

/****************************************************************************/

/* Import Ubuntu font (because it's better) */
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

/* Make text look good */
:root {
    --font-primary: ubuntu;
    --background-primary: #100010;
    --chat-background-alt: #1A001A;
    --background-secondary: #240024;
    --background-tertiary: #2E002E;
    --background-secondary-alt: #380038;
    --brand-500: #420042;
    --background-mentioned: #4C004C;
    --header-primary: #00E0E0;
    --header-secondary: #00A0C0;
    --interactive-active: #00C060;
    --text-link: var(--header-primary);
    --interactive-normal: var(--header-secondary);
    --channels-default: var(--header-primary);
    --text-normal: var(--header-secondary);
    --white-500: var(--background-mentioned);
    --status-danger: var(--header-secondary);
}

/* Manually changes text colour of some things that don't like the variables I changed */
.defaultColor-1EVLSt.heading-xl-semibold-2Tt6Pc.defaultColor-1GKx81.title-1_TkpU {
    color: #00E0E0;
}
.defaultColor-1EVLSt.text-md-bold-22PzaZ.text-PdAsFQ, .text-md-normal-304U3g.subtitle-3m-md1, .text-xs-bold-1NF1lz.optionHeader-27AHfD {
    color: #00A0C0;
    --header-secondary: #00A0C0;
}
.footer-31IekZ {
    border-radius: 2vw;
    background-color: #2E002E;
}
.defaultColor-1GKx81 {
    color: #00E0E0;
}
.lookFilled-yCfaCM.colorPrimary-2AuQVo {
    color: #00A0C0;
    background-color: #1A001A;
}
.theme-dark .pageWrapper-2PwDoS, .container-ZMc96U.themed-Hp1KC_ {
    background-color: #380038;
}

/* Make mentions in messages look good */
.mentioned-Tre-dv {
    position: relative;
    background-color: var(--background-mentioned);
    background-image: linear-gradient(to right, var(--background-primary) , var(--background-mentioned));
    border-top-left-radius: 0.1vw;
    border-bottom-left-radius: 0.1vw;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    box-shadow: 0 0 0.2vw 0.2vw rgb(16,0,16), inset;
}

/* Hide Nitro gift button */
.container-3Csys8 {
    display: none;
}

/* Hide channel name in message box */
.placeholder-1rCBhr {
    display: none;
}

/* Make text rainbow */
.editor-H2NA06, .interactive-1vLZ_I.interactive-iyXY_x.linkButton-2NshQj, .markup-eYLPri.messageContent-2t3eCI {
    color: var(--text-normal);
    background: -webkit-linear-gradient(top left, aqua, cyan, lime, yellow, orange, aqua, cyan, lime, yellow, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Ignore rainbow text in code blocks and user status, and give them a different font */
.inline, .hljs, .inlineCode-ERyvy_, .activityText-ev7Z1T, .mention, .activityText-1rR-8O, .subtext-14b69p {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--text-normal);
    font-family: courier;
}

/* Makes profile banners a bit round */
.banner-2boKnS.popoutBanner-16rVDY, .bannerSVGWrapper-qc0szY, .banner-2boKnS {
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}

/* Make the message input box better */
.messageInputContainer-2rGDH8, .scrollableContainer-15eg7h, .channelTextArea-1FufC0, .editor-H2NA06 {
    border-radius: 1vw;
    background-color: var(--background-secondary-alt);
    caret-color: var(--interactive-active);
    text-align: center;
    word-break: break-word;
    white-space: break-spaces!important;
    background-color: var(--background-secondary-alt);
}

/* Hide redundant gif/sticker buttons */
.button-2fCJ0o {
    display: none;
}

/* Fix file upload button alignment */
.attachButton-_ACFSu {
    padding: 0.5vw 0.5vw;
    position: sticky;
}

/* Makes user settings box rounded */
.panels-3wFtMD {
    border-top-right-radius: 1vw;
}

/* Center some things that look better that way */
.codeText-1BEKG9, .headerContent-2SNbie.primaryInfo-2ocY3v, .members-3WRCEx, .activity-1-H7Zd, .headerText-1qIDDT .info-3pQQBb, .socialLinks-3ywLUf, .item-3XjbnG, .themed-2-lozF, .bd-sidebar-header, .eyebrow-Ejf06y, .info-3pQQBb, .privateChannelsHeaderContainer-1UWASm, .upload-vLbqu-, .userInfoText-3GOMzH, .note-3TX9O7, .textarea-_59yqs.inputDefault-3FGxgL.input-2g-os5, .customStatus-3QV7IG, .nameTag-2ysfG3.nameTag-H6kSJ0, .wrapper-1VLyxH.avatar-1YsFQ1, .username-3JLfHz.username-28Thtk, .discriminator-3_S3CG, .badgeList-2pMvZX.containerWithContent-2_V0PM.container-5SvbtF, .mask-1FEkla.svg-2azL_l, .userPopoutOuter-3AVBmJ, .memberSinceContainer-3biwiY, .children-1xdcWE, .userSettingsSecurity-2kODPN, .sectionTitle-3j2YI1, .fieldList-in8WkP, .usernameRow-1x50RR, .constrainedRow-3y91Xf, .changePasswordButton-3j5UVD, .flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD, .button-f2h6uQ.lookOutlined-3yKVGo, .button-f2h6uQ.lookFilled-yCfaCM, .contents-3ca1mk {
    text-align: center;
    
    align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

/* Remove Discord window title */
.wordmarkWindows-2dq6rw {
    display: none;
}

/* Adds a fancy patterned background to the chat window */
.chatContent-3KubbW {
    background-color: var(--background-primary);
    opacity: 1;
    background-image: linear-gradient(30deg, var(--chat-background-alt) 12%, transparent 12.5%, transparent 87%, var(--chat-background-alt) 87.5%, var(--chat-background-alt)), linear-gradient(150deg, var(--chat-background-alt) 12%, transparent 12.5%, transparent 87%, var(--chat-background-alt) 87.5%, var(--chat-background-alt)), linear-gradient(30deg, var(--chat-background-alt) 12%, transparent 12.5%, transparent 87%, var(--chat-background-alt) 87.5%, var(--chat-background-alt)), linear-gradient(150deg, var(--chat-background-alt) 12%, transparent 12.5%, transparent 87%, var(--chat-background-alt) 87.5%, var(--chat-background-alt)), linear-gradient(60deg, #05254577 25%, transparent 25.5%, transparent 75%, #05254577 75%, #05254577), linear-gradient(60deg, #05254577 25%, transparent 25.5%, transparent 75%, #05254577 75%, #05254577);
    background-size: 32px 56px;
    background-position: 0px 0px, 0px 0px, 16px 28px, 16px 28px, 0px 0px, 16px 28px;
}

/* Read messages colour */
.name-28HaxV
 {
    color: var(--interactive-active);
    filter: brightness(75%);
}

/* Unread messages colour */
.modeConnected-NrO4cP .name-28HaxV, .modeConnected-NrO4cP:hover .name-28HaxV, .modeSelected-3DmyhH .name-28HaxV, .modeSelected-3DmyhH:hover .name-28HaxV, .modeUnread-3Cxepe .name-28HaxV, .modeUnread-3Cxepe:hover .name-28HaxV {
    color: var(--header-primary);
    filter: brightness(100%);
}